<div style="margin-top: 5em" class="col-xs-12 col-md-6 offset-md-1">
  <div class="row">
    <p>Name:</p>
    <p>{{user.lastname}}</p>
  </div>
  <div class="row">
    <p>Vorname:</p>
    <p>{{user.name}}</p>
  </div>
  <div class="row">
    <p>Benutzername:</p>
    <p>{{user.username}}</p>
  </div>

  <div class="table">
    <table class="offset-2 col-8">
      <thead class="sticky-top">
      <th  id="name">Name</th>
      <th  id="type" >Branche</th>
      <th  id="locate">Ort<button id="add-button" class="btn btn-primary" (click)="openAddDialog()"><em class="material-icons">add</em>Hinzufügen</button></th>

      <!--        <th  id="add"><button class="btn btn-primary" (click)="openAddDialog()"><em class="material-icons">add</em>Hinzufügen</button></th>-->
      </thead>
      <tbody class="section-content">
      <tr *ngFor="let shop of shops" class="show-table" (click)="openShopDialog(shop)">
        <td class="text-capitalize table-text">
          {{shopService.replaceInUmlaute(shop.shopName)}}</td>
        <td class="text-capitalize table-text">{{shopService.replaceInUmlaute(shop.shopType)}}</td>
        <td class="text-capitalize table-text">{{shopService.replaceInUmlaute(shop.shopLocation)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
