<div class="profile-content">
  <div style="margin-top: 5em" class="profile-box offset-3 col-6">
    <div class="row information-headline">
      <h2>Benutzerdaten:</h2>
    </div>
    <div class="profile-box-content">
      <div class="information">
        <div class="row information-data">
          <p>Benutzername:</p>
        </div>
        <div class="row information-data">
          <p>Vorname:</p>
        </div>
        <div class="row information-data">
          <p>Name:</p>
        </div>
      </div>
      <div class= "information-content">
        <div class="row information-content-data">
          <p>{{user.username}}</p>
        </div>

        <div class="row information-content-data">
          <p>{{user.name}}</p>
        </div>
        <div class="row information-content-data">
          <p>{{user.lastname}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="table">
    <table class="offset-3 col-6">
      <thead class="sticky-top">
      <th  id="name">Name</th>
      <th  id="type" >Branche</th>
      <th  id="locate"><label style="margin-top: 0.5em" for="add-button">Ort</label><button id="add-button" class="btn btn-primary general-buttons" (click)="openAddDialog()"><em class="material-icons">add</em>Hinzufügen</button></th>      </thead>
      <tbody class="section-content">
      <tr *ngFor="let shop of shops" class="show-table" (click)="openShopDialog(shop)">
        <td class="text-capitalize table-text">
          {{shopService.replaceInUmlaute(shop.shopName)}}</td>
        <td class="text-capitalize table-text">{{shopService.replaceInUmlaute(shop.shopType)}}</td>
        <td class="text-capitalize table-text">{{shopService.replaceInUmlaute(shop.shopLocation)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

