<!--<div class="row">-->
<!--  <div class="img-fluid col-4">-->
<!--    <img  *ngIf="shop.shopImage" style="width: 256px; margin-right: 1em" src="data:image/gif;base64,{{shop.shopImage}}">-->
<!--  </div>-->
<!--  <div>-->
<!--    <span>Name</span>-->
<!--  </div>-->
<!--</div>-->

<h1>Shop-Details</h1>
<mat-dialog-content>
  <div *ngIf="data.shop">
    <div class="row">
      <div class="col-4 image-container">
        <img  *ngIf="shop.shopImage" src="data:image/gif;base64,{{shop.shopImage}}">
      </div>
      <div class="col-7 details-container">
        <div class="row">
          <h4 class="col-4">Name:</h4>
          <p *ngIf="!isEditing">{{shop.shopName}}</p>
          <input *ngIf="isEditing" type="text" name="{{shop.shopName}}" ngModel="{{shop.shopName}}">
        </div>
        <div class="row text-capitalize">
          <h4 class="col-4">Branche:</h4>
          <p *ngIf="!isEditing">{{shopService.replaceInUmlaute(shop.shopType)}}</p>
          <select *ngIf="isEditing" type="text" class="text-capitalize">
            <option value="" selected disabled hidden>{{shopService.replaceInUmlaute(shop.shopType)}}</option>
            <option *ngFor="let option of options" value="{{option}}" >{{shopService.replaceInUmlaute(option)}}</option>
          </select>
        </div>
        <div class="row text-capitalize">
          <h4 class="col-4">Ort:</h4>
          <p *ngIf="!isEditing">{{shopService.replaceInUmlaute(shop.shopLocation)}}</p>
          <input class="text-capitalize" *ngIf="isEditing" type="text" name="{{shop.shopLocation}}" ngModel="{{shop.shopLocation}}">
        </div>
      </div>
    </div>
    <div class="row buttons-container">
      <div *ngIf="isEditing">
        <div class="container row">
          <div class="col-md-6">
            <input type="file" (change)="onFileChanged($event)">
          </div>
          <div class="col-md-6">
            <input type="button" (click)="onUpload(shop.shopId)" value="upload">
          </div>
        </div>
      </div>
      <div>
        <button *ngIf="!isEditing" class="btn-sm btn-group btn-info" (click)="onEdit()">Bearbeiten</button>
        <button *ngIf="isEditing" class="btn-sm btn-group btn-info" (click)="onAccept()">Anwenden</button>
        <button *ngIf="isEditing" class="btn-sm btn-group btn-info" (click)="onCancel()">Abbrechen</button>
        <button class="btn-sm btn-group btn-danger" (click)="onDelete()">Löschen</button>
      </div>
    </div>
  </div>
</mat-dialog-content>
