mat-dialog-content {
  max-width: 100%;
  min-width: 75vh;
}

.image-container {
  float: left;
  margin-right: 2em;
  padding-left: 1em;
}

img {
  max-width: 100% !important;
  height: auto !important;
}

.details-container {
  float: right;
  font-size: 17px;
}

h4 {
  font-size: 20px;
  margin: 0 0.5em 0.75em 0;
}

p {
  align-self: center;
  margin: 0 0.5em 0.75em 0;
}

.buttons-container {
  float: right;
  margin-top: 1em;
  padding-left: 1em;
}

.text-capitalize {
  border-radius: 3px;
  font-size: 17px;
}
.dialog-button {
  margin-left: 1em;
}
