mat-dialog-content {
  max-width: 100%;
  min-width: 75vh;
}
.details-container {
  float: right;
  font-size: 17px;
}

h4 {
  font-size: 20px;
  margin: 0 0.5em 0.75em 0;
}

p {
  align-self: center;
  margin: 0 0.5em 0.75em 0;
}

.buttons-container {
  margin-top: 1em;
  float: right;
}
.dialog-button{
  margin-left: 1em;
}
.text-capitalize {
  border-radius: 5px;
  font-size: 17px;
}
input {
  margin: 0.1em;
}
select {
  margin: 0.1em;
}


