<h3>Hinzufügen von Shops:</h3>
<div class="container">
  <div class="row">
    <form (ngSubmit)="onInsert(shopName, shopType, shopLocation)" #f="ngForm">
      <div class="shop">
        <input type="text" id="shopName" placeholder="Name" class="form-control" ngModel name="Name" required #shopName="ngModel">
        <span class="help-block" *ngIf="!shopName.valid && shopName.touched">Geben Sie einen Namen ein!</span>
      </div>
      <div class="sector">
        <select required class="form-control" id="shopType" name="singleSelect" ngModel="data.singleSelect" #shopType="ngModel">
          <option disabled selected value="">Branche</option>
          <option value="Bäckerei">Bäckerei</option>
          <option value="Textilien">Textilien</option>
          <option value="Lebensmittel">Lebensmittel</option>
          <option value="Spielwaren">Spielwaren</option>
        </select>
        <span class="help-block" *ngIf="!shopType.value.valid && shopType.touched">Geben Sie eine Branche ein!</span>
      </div>
      <div class="location">
        <input type="text" id="shopLocation" placeholder="Ort" class="form-control" ngModel name="Ort" required #shopLocation="ngModel">
        <span class="help-block" *ngIf="!shopLocation.valid && shopLocation.touched">Geben Sie einen Ort ein!</span>
      </div>
      <div class="button">
        <button class="btn btn-primary" mat-dialog-close="true" type=submit [disabled]="!f.valid">Einfügen</button>
        <button class="btn btn-danger" mat-dialog-close="true" type="button">Abbrechen</button>
      </div>
    </form>
  </div>
</div>


