::ng-deep mat-dialog-content {
  max-width: 40vw;
  min-width: 30vw;

}
::ng-deep mat-dialog-container {
  background-color: rgb(112, 128, 144) !important;
}
.details-container {
  float: right;
  font-size: 17px;
}

h4 {
  font-size: 20px;
  margin: 0 0.5em 0.75em 0;
}

p {
  align-self: center;
  margin: 0 0.5em 0.75em 0;
}

.buttons-container {
  float: right;
  margin-top: 1em;
}
.btn-info{
  margin-left: 1em;
}
.text-capitalize {
  border-radius: 5px;
  font-size: 17px;
}

.attribute {
  margin-left: 1.5em;
  transform: translateX(2em);
}
