mat-dialog-content {
  max-width: 100%;
  min-width: 75vh;

}
.details-container {
  float: right;
}

h4 {
  font-size: 20px;
  margin: 0 0.5em 0.75em 0;
}

p {
  align-self: center;
  margin: 0 0.5em 0.75em 0;
}

.buttons-container {
  float: right;
  margin-top: 1em;
}
.btn-info{
  margin-left: 1em;
}
.text-capitalize {
  border-radius: 5px;
  font-size: 17px;
}
::ng-deep mat-dialog-container {
  background-color: pink !important;
}
