.example-container {
  height: 400px;
  overflow: auto;
}
table {
  width: 100%;
}
.mat-table {
  background: whitesmoke;
}
 .mat-header-cell{
   color: black;
   font-size: 1.5em;
 }
.mat-cell {
  color: black;
}

.form-control-range {
  width: 30%;
  display: block;
}

::ng-deep mat-slider {
  /*background: #131a66 !important;*/
  width: 300px;
  border-radius: 5px;
  /*border: 1px solid darkred;*/
  vertical-align: middle;
  height: calc(1.5em + 0.75rem + 2px);
}

::ng-deep .mat-slider-thumb {
  background-color: #c4b9a2 !important;
}

::ng-deep .mat-slider {
  color: #c4b9a2;
}

::ng-deep .mat-slider-track-background  {
  background-color: #c4b9a2 !important;
}


/* CSS to change 'Primary' color */

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: #c4b9a2;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: #c4b9a2;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: #c4b9a2;
}


.radius-search-parent {
  display: flex;
}
.radius-search-child {
  flex: 1;
  align-self: baseline;
}
.mat-input-element {
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 75%;
}

.show-table:hover {
  background-color: lightgray;
}

