<div class="site-content">
  <div class="search-box offset-3 col-6">
    <div class="search-box-content" (keyup.enter)="sendSearchRequest(query, location, radiusInput)">
      <input placeholder="Suche" class="form-control" type="text" #query id="query" >
      <div class="row">
        <div class="col-sm-4">
          <input placeholder="Ort" class="form-control" type="text" #location id="location">
        </div>
        <div class="col-sm-5">
          <mat-slider
            [(ngModel)]="radiusInput"
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="0"
            max="200">
          </mat-slider>
        </div>
        <div class="col-sm-3">
          <button class="btn-success btn general-buttons" type=submit (click)="sendSearchRequest(query, location, radiusInput)"><em class="material-icons">search</em>Suchen</button>
        </div>
      </div>
    </div>
  </div>
  <div class="table">
    <table class="offset-2 col-8">
      <thead class="sticky-top">
      <th  id="name">Name</th>
      <th  id="type" >Branche</th>
      <th  id="locate"><label style="margin-top: 0.5em" for="add-button">Ort</label><button *ngIf="isAuthenticated" id="add-button" class="btn btn-primary general-buttons" (click)="openAddDialog()"><em class="material-icons">add</em>Hinzufügen</button></th>
      </thead>
      <tbody class="section-content">
      <tr *ngFor="let shop of shops" class="show-table" (click)="openShopDialog(shop)">
        <td class="text-capitalize table-text">{{shopService.replaceInUmlaute(shop.shopName)}}</td>
        <td class="text-capitalize table-text">{{shopService.replaceInUmlaute(shop.shopType)}}</td>
        <td class="text-capitalize table-text">{{shopService.replaceInUmlaute(shop.shopLocation)}}
          <em style="float: right" *ngIf="ownedByUser(shop)" class="material-icons">person</em>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

