::ng-deep mat-slider {
  /*background: #131a66 !important;*/
  border-radius: 5px;
  /*border: 1px solid darkred;*/
  vertical-align: auto;
  height: calc(1.5em + 0.75rem + 2px);

}
::ng-deep .mat-slider-horizontal {
  width: 100%;
}
::ng-deep .mat-slider-thumb {
  background-color: lightgray !important;
}

::ng-deep .mat-slider {
  color: lightgray;
}

::ng-deep .mat-slider-track-background  {
  background-color: lightgray !important;
}


/* CSS to change 'Primary' color */

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: lightgray;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: lightgray;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: lightgray;
}
.show-table:hover {
  background-color: lightgray;
  cursor: pointer;
}
.material-icons {
  display: inline-flex;
  vertical-align: middle;
}
.btn-primary{
  color: black;
  background-color: white;
  border-color: white;
}
.btn-primary:hover{
  background-color: lightgray;
}
.input-box {
  /*display: grid;*/
  /*flex-direction: row;*/
  border: 1px solid lightgray;
  border-radius: 8px;
}
.site-content {
  margin: 5em 30em;
}
.search-container {
  margin: 3em 10em;
}
h3 {
  margin: 1em;
}
.btn-success {
  float: right;
}
.form-control {
  margin-bottom: 1.5em;
}

.sticky-top {
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0 0 0 1px lightgray;


}
table thead th{
 vertical-align: middle;
  font-size: larger;
}
th {
  position: sticky;
  top: 0;
  background: white;
}
table {
  width: 60%;
  margin-left: 20%;

}
.section {
  border-radius: 0.5em;
  box-shadow: 0 0 0 1px lightgray;
}
