<div class="site-content">
  <p></p>
  <h3>Hier können Sie nach Shops suchen!</h3>
  <hr>
  <p></p>
  <div class="list-group">
    <div class="row-cols-md-2">
      <input placeholder="Suche" class="form-control" type="text" #query id="query" >
      <input placeholder="Ort" class="form-control" type="text" #location id="location"><mat-slider style="margin-left: 2em"
        [(ngModel)]="radiusInput"
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1000"
        min="0"
        max="200">Radius
      </mat-slider>
    </div>
  </div>
  <button class="btn btn-success" type=submit (click)="sendSearchRequest(query, location, radiusInput)">Senden</button>
  <div class="table">
    <div class="table-content">
      <table>
        <thead>
        <th>Name</th>
        <th>Branche</th>
        <th>Ort</th>
        <th><button class="btn btn-primary" (click)="openAddDialog()"><em class="material-icons">add</em>Hinzufügen</button></th>
        </thead>
        <tbody>
        <tr *ngFor="let shop of shops" class="show-table" (click)="openShopDialog(shop)">
          <td class="text-capitalize"><img  *ngIf="shop.shopImage" style="width: 35px; margin-right: 1em" src="data:image/gif;base64,{{shop.shopImage}}">{{shopService.replaceInUmlaute(shop.shopName)}}</td>
          <td class="text-capitalize">{{shopService.replaceInUmlaute(shop.shopType)}}</td>
          <td class="text-capitalize ">{{shopService.replaceInUmlaute(shop.shopLocation)}}</td>
<!--          <td><em class="material-icons">create</em></td>-->
<!--          <td><em class="material-icons">delete</em></td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

