/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.site-content {
  margin: 1em 1.5em 10em 1.5em;
  padding: 0.5em 1em 0.5em 0.5em;
}
.site {
  background-image: url('src/assets/images/background-image.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
  height: 100%;
}
.general-buttons{
  color: black;
  background-color: white;
  border-color: white;
}

.general-buttons:focus{
  color: black;
  background-color: white;
  border-color: white;
}

